<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Name: </label>
        <input formControlName="name" placeholder="Your name"/>
    </div>
    <div>
        <label>Username: </label>
        <input formControlName="userName" placeholder="Username"/>
    </div>
    <div>
        <label>Password: </label>
        <input formControlName="password" type="password" placeholder="Password"/>
    </div>
    <div>
        <label>Confirm password: </label>
        <input formControlName="confirmPassword" type="password" placeholder="Confirm password"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
        <input type="reset" value="Reset"/>
    </div>
</form>
