
<div class="artists">
    <div class="title">
        <label>{{artists_label}} {{list_label}}</label> 
        <img routerLink="/{{addArtistRoute}}" src="../../assets/images/plus-32.png" alt="add_label" height="28px" *ngIf="isLoggedIn">
    </div>
    <!-- <button class="btn btn-info btn-sm" routerLink="/{{addArtistRoute}}">{{addButtonText}} {{artist_label | lowercase}}</button> -->

    <div>
        {{display_total_label}}
        <select class="page-size" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange($event)">
            <option *ngFor="let size of pageSizeList" value="{{size}}">{{size}}</option>
        </select>
        {{records_label}} {{of_label}}
        <input class="total" [disabled]="true" value="{{total}}"/>
    </div>

    <ul>
        <li *ngFor="let artist of artists">
            <a routerLink="/{{artistDetailRoute}}{{artist._id}}">
                {{artist.artistName}}
            </a>
        </li>
    </ul>

    <br/>
    
    <div class="pagination">
        <button (click)="onPrevious()" [disabled]="pageNumber===1" class="btn btn-outline-success btn-sm">{{previousButtonText}}</button>
        <label>{{page_label}}: {{pageNumber}}</label>
        <button (click)="onNext()" [disabled]="disableNext" class="btn btn-outline-success btn-sm">{{nextButtonText}}</button>
    </div>

</div>
