<div *ngIf="hasSuccess" class="alert alert-success">
    <p>{{successMessage}}</p>
</div>
<div *ngIf="hasError" class="alert alert-danger">
    <p>{{errorMessage}}</p>
</div>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
        <label>{{name_label}}: </label>
        <input formControlName="name" placeholder="{{name_label | lowercase}}"/>
    </div>
    <div>
        <label>{{username_label}}: </label>
        <input formControlName="userName" placeholder="{{username_label | lowercase}}"/>
    </div>
    <div>
        <label>{{password_label}}: </label>
        <input formControlName="password" type="password" placeholder="{{password_label | lowercase}}"/>
    </div>
    <div>
        <label>{{confirm_label}} {{password_label}}: </label>
        <input formControlName="confirmPassword" type="password" placeholder="{{confirm_label | lowercase}} {{password_label | lowercase}}"/>
    </div>
    <div>
        <input type="submit" value="{{register_label}}" class="btn btn-success btn-sm"/>
        <input type="reset" value="{{reset_label}}" class="btn btn-warning btn-sm"/>
    </div>
</form>
