<div class="artists">

    <div class="search-area">
        <label>Artist name:</label>
        <input [(ngModel)]="searchName" placeholder="Search by artist name:" (keyup.enter)="onKeyEnter()"/>
        <label>Latitude:</label>
        <input [(ngModel)]="searchLatitude" placeholder="Search by latitude" (keyup.enter)="onKeyEnter()"/>
        <label>Longitude:</label>
        <input [(ngModel)]="searchLongitude" placeholder="Search by longitude:" (keyup.enter)="onKeyEnter()"/>
        <label>Minimum Distance:</label>
        <input [(ngModel)]="minDistance" placeholder="Min Distance for Geo Search" (keyup.enter)="onKeyEnter()"/>
        <label>Maximum Distance:</label>
        <input [(ngModel)]="maxDistance" placeholder="Min Distance for Geo Search" (keyup.enter)="onKeyEnter()"/>
    </div>

    <ul>
        <li *ngFor="let artist of artists">
            <a routerLink="/artist/{{artist._id}}">
                {{artist.artistName}}
            </a>

            <a class="space-added" routerLink="/artistform/{{artist._id}}">
                edit
            </a>

            <a class="space-added" (click)="onDelete(artist._id)">
                delete
            </a>
        </li>
    </ul>

    <br/>
    <div>
        Display 
        <select class="page-size" [ngModel]="countList" (ngModelChange)="onPageSizeChange($event)">
            
            <option *ngFor="let count of countList" [ngValue]="count">{{count}}</option>
        </select>
        of 
        <input class="total" [disabled]="true" value="{{total}}"/>
    </div>
    <div class="pagination">
        <button (click)="onPrevious()" [disabled]="pageNumber===1">Previous</button>
        <label>Page: {{pageNumber}}</label>
        <button (click)="onNext()" [disabled]="disableNext">Next</button>
    </div>

</div>
