
<div class="artists">
    <h3>{{artists_label}} {{list_label}}</h3> 
    <button class="add-artist" routerLink="/{{addArtistRoute}}">{{addButtonText}} {{artist_label | lowercase}}</button>
    <ul>
        <li *ngFor="let artist of artists">
            <a routerLink="/{{artistDetailRoute}}{{artist._id}}">
                {{artist.artistName}}
            </a>

            <a class="space-added" routerLink="/{{editArtistRoute}}{{artist._id}}">
                {{edit_label | lowercase}}
            </a>

            <a class="space-added" (click)="onDelete(artist._id)">
                {{delete_label | lowercase}}
            </a>
        </li>
    </ul>

    <br/>
    <div>
        {{display_total_label}}
        <select class="page-size" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange($event)">
            <option *ngFor="let size of pageSizeList" value="{{size}}">{{size}}</option>
        </select>
        {{records_label}} {{of_label}}
        <input class="total" [disabled]="true" value="{{total}}"/>
    </div>
    <div class="pagination">
        <button (click)="onPrevious()" [disabled]="pageNumber===1">{{previousButtonText}}</button>
        <label>{{page_label}}: {{pageNumber}}</label>
        <button (click)="onNext()" [disabled]="disableNext">{{nextButtonText}}</button>
    </div>

</div>
