<div class="search-page">
    <h3>Search</h3>

    <div class="search-area">
        <label>Artist name:</label>
        <input [(ngModel)]="searchName" placeholder="Search by artist name:" (keyup.enter)="onKeyEnter()"/>
        <label>Latitude:</label>
        <input [(ngModel)]="searchLatitude" placeholder="Search by latitude" (keyup.enter)="onKeyEnter()"/>
        <label>Longitude:</label>
        <input [(ngModel)]="searchLongitude" placeholder="Search by longitude:" (keyup.enter)="onKeyEnter()"/>
        <label>Minimum Distance:</label>
        <input [(ngModel)]="minDistance" placeholder="Min Distance for Geo Search" (keyup.enter)="onKeyEnter()"/>
        <label>Maximum Distance:</label>
        <input [(ngModel)]="maxDistance" placeholder="Min Distance for Geo Search" (keyup.enter)="onKeyEnter()"/>
        <button (click)="onKeyEnter()">Search</button>
    </div>

    <div>
        <ul>
            <li *ngFor="let artist of artists">
                <a routerLink="/artist/{{artist._id}}">
                    {{artist.artistName}}
                </a>
    
                <a class="space-added" routerLink="/artistform/{{artist._id}}">
                    edit
                </a>
    
                <a class="space-added" (click)="onDelete(artist._id)">
                    delete
                </a>
            </li>
        </ul>
    </div>
</div>