<div *ngIf="hasSuccess" class="alert alert-success">
    <p>{{successMessage}}</p>
</div>
<div *ngIf="hasError" class="alert alert-danger">
    <p>{{errorMessage}}</p>
</div>

<form #artistForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label>{{nameLabel}}:</label>
        <input name="artistName" ngModel required/>
    </div>
    <div>
        <label>{{bornYearLabel}}:</label>
        <input name="bornYear" ngModel required/>
    </div>
    <div>
        <label>{{genderLabel}}:</label>
        <input name="gender" ngModel required/>
    </div>
    <div>
        <label>{{nationLabel}}:</label>
        <input name="nation" ngModel required/>
    </div>
    <div>
        <label>{{location_label}}:</label>
        <input name="coordinates" ngModel required/>
    </div>
    <div>
        <label>{{firstSongLabel}}:</label>
        <input name="firstSong" ngModel required/>
    </div>
    <div>
        <label>{{bandsLabel}}:</label>
        <input name="bands" ngModel/>
    </div>
    <div>
        <input type="submit" value="{{addButtonText}}" *ngIf="!this.artistId" class="btn btn-success btn-sm"/>
        <input type="submit" value="{{updateButtonText}}" *ngIf="this.artistId" class="btn btn-success btn-sm"/>
    </div>
</form>