<h1>{{artist.artistName}}</h1> <br/>

<div *ngIf="hasSuccess" class="alert alert-success">
    <p>{{successMessage}}</p>
</div>
<div *ngIf="hasError" class="alert alert-danger">
    <p>{{errorMessage}}</p>
</div>

<app-updatable-control [label]="bornYearLabel" [(value)]="artist.bornYear" (actionEvent)="confirmEdit($event)"></app-updatable-control>
<app-updatable-control [label]="genderLabel" [(value)]="artist.gender" (actionEvent)="confirmEdit($event)"></app-updatable-control>
<app-updatable-control [label]="nationLabel" [(value)]="artist.nation" (actionEvent)="confirmEdit($event)"></app-updatable-control>
<app-updatable-control [label]="firstSongLabel" [(value)]="artist.firstSong" (actionEvent)="confirmEdit($event)"></app-updatable-control>

<br/>
<label class="property">{{bandsLabel}} :</label>
<ul>
    <li *ngFor="let band of artist.bands">{{band}}</li>
</ul>

<button (click)="deleteArtist()" *ngIf="isLoggedIn" class="btn btn-outline-success btn-sm">{{delete_label}}</button>