<h1>{{artist.artistName}}</h1> <br/>

<div *ngIf="hasSuccess" class="alert alert-success">
    <p>{{successMessage}}</p>
</div>
<div *ngIf="hasError" class="alert alert-danger">
    <p>{{errorMessage}}</p>
</div>

{{bornYearLabel}}: {{artist.bornYear}} <br/>
{{genderLabel}}: {{artist.gender}} <br/>
{{nationLabel}}: {{artist.nation}} <br/>
{{firstSongLabel}} {{artist.firstSong}} <br/>

<br/>
{{bandsLabel}}:
<ul>
    <li *ngFor="let band of artist.bands">{{band}}</li>
</ul>

<button (click)="deleteArtist()" *ngIf="isLoggedIn">{{delete_label}}</button>