.search-page {
    margin: 10px;
}
.space-added {
    margin-left: 20px;
    cursor: pointer;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: white;
}
.search-area {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px 0;
    row-gap: 3px;
}

button {
    width: 100px;
    margin-top: 5px;
}

div {
    overflow-y: scroll;
}